._1{ margin-left:24px; margin-right:-24px;
    
}
._2{ margin-left:12px; margin-right:-12px;

    
}
._3{ margin-left:-12px; margin-right: 12px;
    
}
._23{ margin-left:-12px ; margin-right:12px ;
    
}
._123{ margin-left: -24px; margin-right: 24px;
    
}